.bio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.headshot { 
    width: 30%;
}

.bio_copy {
    font-family: var(--ff-body);
    font-weight: var(--fw-body);
    width: 40%;
    font-size: 1.2rem;
    align-content: center;
    margin-right: 1rem;
}

.bio_intro {
    font-family: var(--ff-title);
    font-weight: var(--fw-title);
    color: var(--accent-color);
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .bio_copy {
        width: 50%;
    }

    .headshot {
        width: 40%;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    .bio_copy {
        width: 70%;
  
    }

    .headshot {
        width: 50%;
        margin-top: 1.5rem;
    } 

}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}
