.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 1rem;
    /* border: 2px solid red; */
}

.content__card {
    width: 25rem;
    height: 17rem;
    border: 2px solid red;

}

.content__card-img {
    width: 24.8rem;
    height: 200px;
    display: block;
}