.divider {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.solid {
    border: none; 
    height: 1px; 
    width: 75%;
    margin: 20px auto; 
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);
}