.filters {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.filters__buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding: 1rem 0;

  }
  
.filter_input {
    display: none;
}

.filter_btn {
    position: relative;
    font-size: 1.1rem;
    color: var(--button-color);
    cursor: pointer;
    padding-bottom: 4px;
    background: none;
    border: none;
    transition: color 0.3s ease;
    font-family: var(--ff-body);
    font-weight: 500;
}

.filter_btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: var(--button-color);
    transition: width 0.3s ease;
}

.filter_input:checked + .filter_btn {
    color: var(--button-color);
}

.filter_input:checked + .filter_btn::after {
    width: 100%;
}
  

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}