.filters {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: 3c3c3c;
    margin-bottom: 1rem;
}


/*.filter_btn {*/
/*    padding: 0.25rem 1.5rem;*/
/*    font-size: 1rem;*/
/*    background-color: #435058;*/
/*    font-family: var(--ff-body);*/
/*}*/

.filter_btn {
    background-color: var(--accent-color);
    color: #FFEFD5;
    padding: 8px 15px;
    margin: 0 0.2rem;
    border: 0.6px solid var(--accent-color);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    font-family: var(--ff-body);
}

.filter_btn:hover {
    box-shadow: 0 0 0 1.5px var(--accent-color),
        2px 4px 10px rgba(0, 0, 0, 0.2);
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }



 


}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}