.footer {
    background-color: var(--button-color);
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: auto;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
}

.footer_web-dev {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    color: #FFEFD5;
}

.footer__web-dev-link {
    text-decoration: none;
    position: relative;
}

.footer__web-dev-link:hover {
    text-decoration: underline;
    color: #FFEFD5;
}

.footer__web-dev-link-copy {
    color: #FFEFD5;
}

/* md */
@media (max-width: 768px) {
    .footer {
        min-height: 20dvh;
    }
}