*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    background-color: var(--main_color);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.footer {
    margin-top: auto;
    padding: 1rem 0;
}

:root {
    --main-color: #F9F9F9;
    --accent-color: #9DB4AB;
    --button-color: #39393a;

    --ff-title: "oswald", serif;
    --ff-body: "Source Sans 3", serif;

    --fw-title: 500;
    --fw-bold: 800;
    --fw-body: 400;
    --fw-nymber: 800;
}

