*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    background-color: var(--alt-main);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}



:root {
    --main-color: #F9F9F9;
    --alt-main: #F0F2F5;
    --accent-color: #466591;
    --button-color: #39393a;
    --button-alt-color: #333333;
    --ff-title: "oswald", serif;
    --ff-body: "Source Sans 3", serif;

    --fw-title: 500;
    --fw-bold: 800;
    --fw-body: 400;
    --fw-nymber: 800;
}

